---
---

@import "{{ site.theme }}";

$coral: #d97778;
$sunray: #EDAE49;
$charcoal: #36413E;
$blue: #AFD2E9;
$ivory: #FFF;
$desktop: 961px;

body {
  background-color: $ivory;
  padding: 16px;

  @media screen and (min-width: 768px) {
    padding: 48px;
  }
}

h1 {
  font-size: 32px;
}

h2, h3 {
  margin-bottom: 24px;
}

hr {
  margin-bottom: 24px;
}

p {
  margin-bottom: 24px;
  color: $charcoal;
}

section {
  padding: 24px 0;
  margin-bottom: 24px;

  @media screen and (min-width: $desktop) {
    padding: 9px 0 0 0;
    margin-bottom: 0;
  }
}

.nav-menu-item {
  margin-bottom: 8px;
}

.nav-menu-item:last-child {
  margin-bottom: 24px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.active-link {
  cursor: default;
  color: $charcoal !important;
}

.active-link:hover {
  color: $charcoal;
}

a:hover {
  font-weight: inherit;
  color: $coral;
}

a {
  color: $coral;
}

blockquote {
  font-size: 16px;
}
