<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1> <a id="nav-link" href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        
        <p class="site-description">{{ site.description | default: site.github.project_tagline }}</p>
        <hr class="header-hr">
        <div class="nav-menu-item">
          <a id="nav-link" href="{{ "/statement-of-purpose.html" | relative_url }}">Statement of Purpose</a>
        </div>
        <div class="nav-menu-item">
          <a id="nav-link" href="{{ "/inspiring-artifacts.html" | relative_url }}">Inspiring Artifacts</a>
        </div>
        <div class="nav-menu-item">
          <a id="nav-link" href="{{ "/work-in-progress.html" | relative_url }}">The Work in Progress</a>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>Send me an email: <a href="mailto:adrian@looking-glass.space">adrian@looking-glass.space</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        updateLinks();
      });
      
      function updateLinks() {
        const routeDirectory = {
          home: '/looking-glass/',
          statement: '/looking-glass/statement-of-purpose.html',
          artifacts: '/looking-glass/inspiring-artifacts.html',
          work: '/looking-glass/work-in-progress.html',
        };

        const currentLocation = window.location.pathname;
        const links = document.querySelectorAll('#nav-link');

        if (links && currentLocation === routeDirectory.home) {
          links[0].className = 'active-link';
        } 
        if (links && currentLocation === routeDirectory.statement) {
          links[1].className = 'active-link';
          links[1].innerHTML = '> ' + links[1].innerHTML; 
        }
        if (links && currentLocation === routeDirectory.artifacts) {
          links[2].className = 'active-link';
          links[2].innerHTML = '> ' + links[2].innerHTML;
        }
        if (links && currentLocation === routeDirectory.work) {
          links[3].className = 'active-link';
          links[3].innerHTML = '> ' + links[3].innerHTML;
        }
      }
    </script>
  </body>
</html>
