<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body onload="updateLinks()">
    <div class="wrapper">
      <header>
        <h1> <a id="nav-link" href="/">{{ site.title }}</a></h1>
        
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <hr>
        <div class="nav-menu-item">
          <a id="nav-link" href="https://ajarian.github.io/looking-glass/statement-of-purpose.html">Statement of Purpose</a>
        </div>
        <div class="nav-menu-item">
          <a id="nav-link" href="https://ajarian.github.io/looking-glass/inspiring-artifacts.html">Inspiring Artifacts</a>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>If you'd like to connect, send me an email at <a href="mailto:adrian.william.jones@gmail.com">adrian.william.jones@gmail.com</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      function updateLinks() {
        const routeDirectory = {
          statement: '/statement-of-purpose.html',
          artifacts: '/inspiring-artifacts.html'
        };

        const currentLocation = window.location.pathname;
        const links = document.querySelectorAll('#nav-link');

        if (links && currentLocation.length === 1) {
          links[0].className = 'active-link';
        } 
        if (links && currentLocation === routeDirectory.statement) {
          links[1].className = 'active-link';
        }
        if (links && currentLocation === routeDirectory.artifacts) {
          links[2].className = 'active-link';
        }
      }
    </script>
  </body>
</html>
